.dropzone {
  width: 80%;
  height: 150px;
  position: relative;
  border: 2px dashed #dbdbdb;
  border-radius: 0.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .image-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 0.5rem;
      transition: transform 0.3s ease;

      @media (hover: none) {
        transform: scale(1.1);
        filter: brightness(0.4);
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &:hover img {
      transform: scale(1.1);
      filter: brightness(0.4);
      background-color: rgba(0, 0, 0, 0.5);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1.1);
      opacity: 0;
      transition: opacity 0.3s ease;

      .remove-text {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        pointer-events: none;
      }

      @media (hover: none) {
        opacity: 1;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }

  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .upload-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    .icon {
      background-color: #f0f0f0;
      color: #9b88df;
      border-radius: 50%;
      padding: 0.3rem;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upload-text {
      font-size: 1rem;
      text-align: center;
      margin: 0;

      span {
        color: #9b88df;
      }
    }

    p {
      margin: 0;
    }

    .file-size-info {
      color: #777;
      font-size: 0.9rem;
      text-align: center;
    }
  }
}
