.login {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: #f8f9fa;

  .image {
    width: 50%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form {
    width: 50%;
    padding: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    .welcome-text {
      width: 100%;
      font-size: 1.8rem;
      color: #333;
      margin: 0;
    }

    .error-box {
      width: 100%;
      box-sizing: border-box;
      color: #ff4d4f;
      background-color: #fff1f0;
      border: 1px solid #ffa39e;
      padding: 1rem;
      border-radius: 0.6rem;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-field {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
          width: 100%;
        }

        label {
          display: block;
          margin-bottom: 0.5rem;
          color: #555;
        }

        input {
          padding: 0.5rem 1rem;
          border-radius: 0.6rem;
          font-size: 1rem;
          color: #797979;

          &:focus {
            outline: none;
            border-color: #7f62e6;
            box-shadow: 0 0 3px #7f62e650;
          }
        }
      }

      .button {
        margin-top: 1rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 0.6rem;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;

    .image {
      width: 100%;
      height: 30%;
    }

    .form {
      width: 100%;
      height: 70%;
      justify-content: flex-start;
    }
  }
}
