.ingredients-table {
  border: 1px solid #dfdfdf;
  border-radius: 0.4rem;
  width: 100%;
  overflow: hidden;

  table {
    border-collapse: collapse;
    thead {
      background-color: white;
      border-bottom: 1px solid #dfdfdf;
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;

      th {
        font-weight: normal;
      }
    }
  }

  tbody {
    border-bottom: 1px solid #dfdfdf;
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }

  .add-new-button {
    background-color: white;
    color: #797979;
    width: 100%;
    padding: 12px;
    border: none;
    text-align: center;
    cursor: pointer;
  }
}
