.custom-select {
  width: 100%;
  .react-select-container {
    width: 100%;
    .react-select__control {
      font-size: 1.05rem;
      border-color: #dbdbdb;
    }

    &.is-invalid .react-select__control {
      border-color: #ff675c;
      background-color: #f8d7da;
    }

    &.is-invalid::placeholder {
      color: #ff675c;
    }
  }

  .react-select__multi-value {
    background-color: #e6e0f8;
    border-radius: 8px;
    padding: 2px 6px;

    .react-select__multi-value__label {
      color: #4a4a4a;
      font-size: 0.9rem;
    }

    .react-select__multi-value__remove {
      color: #777777;
      font-weight: no;
      transition: background-color 0.2s ease;

      svg {
        width: 1.3rem;
        height: 1.3rem;
      }

      &:hover {
        background-color: #d1c9f0;
        color: #000;
      }
    }
  }
}
