.navItem {
  height: 100%;
  display: flex;

  .logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 0 1rem;
  }

  .logo-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .logo-text {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  .active {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #7f62e6;
    }
  }
}
