.password-input {
  position: relative;
  width: 60%;
  height: 38px;
  .input-control {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    font-size: 1.05rem;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-sizing: border-box;

    &:focus {
      border-color: #9b88df;
    }

    &::placeholder {
      color: #777;
    }

    &.is-invalid {
      border-color: #ff675c;
      background-color: #f8d7da;
    }

    &.is-invalid::placeholder {
      color: #ff675c;
    }
  }
}
