.app-template {
  padding: 0;
  margin: 0;
  padding: 1.25rem 4rem 0 4rem;

  .children {
    background-color: #fff;
    width: auto;
    min-height: 80vh;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 0.4rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 550px) {
    padding: 1.25rem 0 0 0;
  }
}
