@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  letter-spacing: 0.7px;

  input {
    letter-spacing: 0.7px;
  }
}

.bold {
  font-weight: bold;
}

.is-invalid {
  border-color: #ff675c;
  background-color: #f8d7da;
}
