.confirmation-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;

    label {
      width: 20%;
      font-size: 1rem;
      color: #333;
      text-align: right;
    }
  }

  .input-field {
    label {
      width: 8rem;
      font-size: 1rem;
      color: #333;
      text-align: right;
    }

    .input-wrapper {
      width: 100%;
    }
  }
}
