.breadcrumb-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-bottom: 1px solid #dfdfdf;

  .path {
    font-size: 1.1rem;
    display: flex;
    align-items: center;

    .link {
      color: #555;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #7f62e6;
      }
    }

    span {
      color: #555;

      &.bold {
        font-weight: bold;
        color: #000;
      }
    }
  }
}
