.input-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;

  label {
    width: 10rem;
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
    text-align: right;

    @media screen and (max-width: 700px) {
      width: 5rem;
    }
  }

  .input-wrapper {
    width: 60%;
    margin: auto 0;

    #description {
      font-family: "Roboto", sans-serif;
      width: 100%;
      height: 100px;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 0.3rem;
      box-sizing: border-box;

      &:focus {
        border-color: #9b88df;
      }

      &::placeholder {
        color: #777;
      }

      &.is-invalid {
        border-color: #ff675c;
        background-color: #f8d7da;
      }
    }

    .preparation-input {
      width: 4rem;
      height: 38px;
      padding: 0 0.5rem;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 0.3rem;
      box-sizing: border-box;

      &.is-invalid {
        border-color: #ff675c;
        background-color: #f8d7da;
      }
    }

    .unit-text {
      margin-top: auto;
      padding: 0.5rem 0;
      font-size: 1rem;
      color: #333;
      margin-left: 1rem;
    }
  }
}
