.info {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 10px;

  .photo {
    width: 2.2rem;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .placeholder {
      font-size: 0.9rem;
      color: #999;
    }
  }

  .name {
    font-size: 1rem;
  }
}
